@font-face {
  font-family: 'Bitcount';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BitcountGridDouble-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/SFpro/SF-Pro-Display-Black.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/SFpro/SF-Pro-Display-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SFpro/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/SFpro/SF-Pro-Display-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/SFpro/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/SFpro/SF-Pro-Display-HeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SFpro/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/SFpro/SF-Pro-Display-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SFpro/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/SFpro/SF-Pro-Display-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Display-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SFpro/SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/SFpro/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/SFpro/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/SFpro/SF-Pro-Display-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/SFpro/SF-Pro-Display-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/SFpro/SF-Pro-Display-UltralightItalic.otf') format('opentype');
}

/* SF Pro Rounded */
@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Black.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/SFpro/SF-Pro-Rounded-Ultralight.otf') format('opentype');
}

/* SF Pro Text */
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/SFpro/SF-Pro-Text-Black.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/SFpro/SF-Pro-Text-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SFpro/SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/SFpro/SF-Pro-Text-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/SFpro/SF-Pro-Text-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/SFpro/SF-Pro-Text-HeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SFpro/SF-Pro-Text-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/SFpro/SF-Pro-Text-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SFpro/SF-Pro-Text-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/SFpro/SF-Pro-Text-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Text-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SFpro/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/SFpro/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/SFpro/SF-Pro-Text-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/SFpro/SF-Pro-Text-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/SFpro/SF-Pro-Text-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/SFpro/SF-Pro-Text-UltralightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SFpro/SF-Pro-Italic.ttf') format('truetype');
}
